@import "./reset.scss";
@import "../layout/slick-theme.scss";
@import "../layout/slick.scss";
@import "../layout/header.scss";
@import "../layout/contents.scss";
@import "../layout/footer.scss";

// @import url(./reset.scss);
:root {
  --CPblue: #4285f4;
}
.container {
  min-width: 990px;
  overflow: hidden;
}
