.contents {
  .sliderWrap {
    height: 407px;
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;
    .mainslider {
      width: 1280px;
      height: 407px;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      margin-left: -640px;
    }
    .slick-dots {
      bottom: 5px;
    }
  }
  .category {
    width: 1000px;
    margin: 0px auto 115px;
    overflow: hidden;
    .categoryWrap {
      box-sizing: border-box;
      .title {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
      }
      ul {
        text-align: center;
        li {
          margin: 0 -4.5px -3px 0;
          a {
            img {
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
    }

    .firstCate,
    .lastCate {
      width: 20%;
      float: left;
      ul {
        li {
          display: inline-block;
          &:first-child {
            border-bottom: none;
          }
        }
      }
    }
    .firstCate {
      li {
        border: 1px solid #f5a100;
      }
    }
    .lastCate {
      li {
        border: 1px solid #a55cb0;
      }
    }
    .midleCate {
      width: 60%;
      float: left;
      ul {
        li {
          display: inline-block;
          border-right: 1px solid #75bb29;
          border-top: 1px solid #75bb29;
          &:nth-child(1),
          &:nth-child(4) {
            border-left: 1px solid #75bb29;
          }
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            border-bottom: 1px solid #75bb29;
          }
        }
      }
    }
  }
}
