.contents {
  .sliderWrap {
    height: 407px;
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;
    .mainslider {
      width: 1280px;
      height: 407px;
      margin: 0 auto;
      position: relative;
    }
    .slick-dots {
      bottom: 45px;
    }
  }
  .category {
    width: 1000px;
    margin: 0px auto 115px;
    overflow: hidden;
    .categoryWrap {
      width: 190px;
      float: left;
      .title {
        text-align: center;
        padding-bottom: 28px;
      }
      ul {
        li {
          overflow: hidden;
          width: 185px;
          &:hover {
            img {
              display: block;
              background-repeat: no-repeat;
              // width: 185px;
              height: 230px;
              padding-left: 185px;
            }
          }
        }
      }
    }
    .firstCate {
      ul {
        border: 1px solid #f5a100;
        li {
          &:first-child {
            border-bottom: 1px solid #f5a100;
            &:hover img {
              background: url(/public/src/resources/images/neungyule/img_link_ic_on.gif);
            }
          }
          &:last-child {
            &:hover img {
              background: url(/public/src/resources/images/neungyule/img_link_kids_on.gif);
            }
          }
        }
      }
    }
    .midleCate {
      position: relative;
      width: 580px;
      margin: 0 16px;
      &::before {
        content: "";
        position: absolute;
        top: 282px;
        left: 10px;
        right: 0;
        border-top: 1px solid #75bb29;
        width: 560px;
        height: 1px;
      }
      ul {
        border: 1px solid #75bb29;
        width: 560px;
        li {
          float: left;
          &:nth-child(1),
          &:nth-child(4),
          &:nth-child(2),
          &:nth-child(5) {
            border-right: 1px solid #75bb29;
          }
          &:nth-child(1) {
            &:hover img {
              background: url(/public/src/resources/images/neungyule/img_link_textbook_on.gif);
            }
          }
          &:nth-child(2) {
            &:hover img {
              background: url(/public/src/resources/images/neungyule/img_link_study_on.gif);
            }
          }
          &:nth-child(3) {
            &:hover img {
              background: url(/public/src/resources/images/neungyule/img_link_mathfun_on.gif);
            }
          }
          &:nth-child(4) {
            &:hover img {
              background: url(/public/src/resources/images/neungyule/img_link_junior_on.gif);
            }
          }
          &:nth-child(5) {
            &:hover img {
              background: url(/public/src/resources/images/neungyule/img_link_times_on.gif);
            }
          }
          &:nth-child(6) {
            &:hover img {
              background: url(/public/src/resources/images/neungyule/img_link_class_on.gif);
            }
          }
        }
      }
    }
    .lastCate {
      ul {
        border: 1px solid #a55cb0;
        li {
          &:first-child {
            border-bottom: 1px solid #a55cb0;
            &:hover img {
              background: url(/public/src/resources/images/neungyule/img_link_tomato_on.gif);
            }
          }
          &:last-child {
            &:hover img {
              background: url(/public/src/resources/images/neungyule/img_link_edu_on.gif);
            }
          }
        }
      }
    }
  }
}
