header {
  .topline {
    position: absolute;
    top: 0;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .gnb_wrap {
    width: 990px;
    margin: 0 auto;
    > div {
      display: inline-block;
    }
    .logo {
      float: left;
      padding-top: 17px;
      padding-right: 120px;
    }
    .gnb {
      float: left;
      a {
        padding: 37px 30px 0 30px;
        float: left;
      }
    }
    .gnb2 {
      float: right;
      a {
        position: relative;
        padding: 40px 0 0 33px;
        float: left;
        &::after {
          position: absolute;
          content: "";
          width: 1px;
          height: 8px;
          top: 47px;
          right: -16px;
          border-right: 1px solid #c4c3be;
        }
        &:last-child::after {
          display: none;
        }
      }
    }
  }
}
